/* EventInfo.css */
.event-table {
  width: 100%;
  border-collapse: collapse;
}

h2 {
  text-align: center;
  color: #6e45e2;
  margin-bottom: 20px;
}


.event-table th,
.event-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.event-table th {
  background-color: #f2f2f2;
}

.event-table tbody tr:nth-child(even) {
  background-color: #f9f1f9;
}

.event-table tbody tr:hover {
  background-color: #eaeaea;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content h2,
.content h3 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.content input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

/* .button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
} */

.event-item {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.event-item h4 {
  margin-top: 0;
}

.event-item button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-right: 10px;
  margin-top: 5px;
  background-color: #6e45e2;
  color: white;
  cursor: pointer;
}

.event-item button:hover {
  background-color: #5940ba;
}

.error-message {
  color: red;
  margin: 10px 0;
}